{% extends "homebase.html" %}
{% block title %}{{ setting.company }} {% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}



{% block header %}
    {% include 'header.html' %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}



{% block content %}
    <div class="hero-wrap" style="background-image: url('../static/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">

                    <div class="col-md-9 ftco-animate text-center">
                        <p class="breadcrumbs"><span class="mr-2"><a href="/">Anasayfa</a></span></p>
                        <h1 class="mb-3 bread">{{ categorydata.title }}</h1>
                    </div>

            </div>
        </div>
    </div>

    <section class="ftco-section bg-light">

        <div class="container">
            <div class="row">
                {% for rs in houses %}
                    <div class="col-md-4 ftco-animate">

                        <div class="properties">

                            <a href="property-single.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{ rs.image.url }});">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <span class="status sale">{{rs.description}}</span>
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="property-single.html">{{rs.address}}</a></h3>
                                        <p>Apartment</p>
                                    </div>
                                    <div class="two">
                                        <span class="price">{{ rs.price }}</span>
                                    </div>
                                </div>
                                <p>{{ rs.detail|safe }}</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i class="flaticon-selection"></i> 250sqft</span>
                                    <span class="ml-auto"><i class="flaticon-bathtub"></i> 3</span>
                                    <span><i class="flaticon-bed"></i> 4</span>
                                </p>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}


{% include 'footer.html' %}



{% block footer %} {% endblock %}