{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>{% endblock %}

{% block content %}


    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Change Password</h3>
    </div>
    <!-- bradcam_area_end -->

    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    {% include "user_panel.html" %}
                </div>
                <div class="col-lg-7">
                    <div class="section_title">
                        <h3 class="contact-title">User Information</h3>
                    </div>
                    <div class="section-content">
                        {% if messages %}
                            {% for message in messages %}
                                <div style="color:red; font-size: medium">
                                    {{ message|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p style="">{{ error }}</p>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ contact section end ================= -->
{% endblock %}
