<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>house Gallery</title>
</head>
<body>
<h2>{{ house.title }}</h2>
<hr>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message|safe }}
        </div>
    {% endfor %}
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="house_id" value="{{ house.id }}">
    <label for="id_title">Title:</label>
    <input type="text" name="title" class="input" placeholder="title" maxlength="50" id="id_title"></p>
    <label for="id_image">Image:</label>
    <input type="file" name="image" class="input" placeholder="image" accept="image/*" id="id_image"></p>
    <button class="genric-btn danger circle" type="submit">Upload Image</button>
</form>
<hr>
<h4>Yüklenen Resimler</h4>
{% for rs in images %}
    <img src="{{ rs.image.url }}" height="200">
{% endfor %}
</body>
</html>